body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #F8C8DC; */
    background-image: url('SILVER\ Jubilee\ Celebration.png');
    background-size: cover;
    color: #f10909;
    text-align: center;
}

#content {
    margin-top: 50vh; /* Adjusted margin for centering on larger screens */
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Cursive', sans-serif; /* Different font for heading */
    color: #ff00ee; /* Custom color */
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); Adding a subtle text shadow for emphasis */
}

p {
    font-size: 18px;
    margin-bottom: 30px;
    font-family: 'Georgia', serif; /* Different font for paragraphs */
}

#rules {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 16px;
    color: #000000;
    font-family: 'Tahoma', sans-serif; /* Different font for rules */
}

#google-form-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    background-color: #8b4513; /* Saddle Brown color */
    border-radius: 5px;
    font-family: 'Courier New', monospace; /* Different font for button */
}

#google-form-btn:hover {
    background-color: #654321; /* Dark Brown color */
}
#google-form-btn:disabled {
    background-color: #a9a9a9; /* Grey color */
    cursor: not-allowed;
}


#couple-photo {
    max-width: 100%;
    border-radius: 50%;
    margin-top: 30px;
}

/* Mobile responsiveness */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    #rules {
        font-size: 14px;
    }

    #google-form-btn {
        font-size: 16px;
    }

    #content {
        margin-top: 0;
    }
}
